html {
    background-color: antiquewhite;
}

.front-page-header {
    background-color: pink;
    justify-content: center;
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 2vw;
    margin-top: 5vh;
}

#sortDropdown {
    padding: 10px;
    font-size: 1.2em;
}

.filter-button {
    margin-top: 3vh;
    text-align: center;
}

.article-display {
    margin-top: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
}

.card {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
    border: 1.3px solid pink;
    padding: 5vw;
    text-align: center;
    background-color: white;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-row {
    display: flex;
    flex-direction: row;
}

.left-half {
    flex: 1;
    background: url('restaurant.jpg') center/cover no-repeat;
    height: 100vh;
}

.right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 20px;
}

.text-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    background: #ffffff; 
    border: 1.3px solid pink;
}

.label {
    margin-top: auto; 
    text-align: center;
    font-size: 1.2rem;
}

.section-heading {
    font-weight: bold;
    text-align: center;
}

.image-container {
    max-width: 90%; 
    justify-content: center;
}

.image-container img {
    display: block; 
    max-width: 100%; 
    height: auto; 
    flex: 1;
    padding: 20px;
    margin: 20px;
}

#post-title {
    margin-top: 3vh;
    font-size: 4rem;
    margin-left: 4vh;
}

.post-container {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}


/* Submission.css */

.submission_h1{
    text-align: center;
    font-size: x-large;
    color: #BA8448;
}

.submission{
    font-size: 1.45em;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}

.user_text_input{
    background-color: #DACBB8;
    align-items: center;
}

.user_image {
    background-color: #DACBB8;
    align-items: center;
    display: inline-block;
    padding: 70px;
}

.user_image .imageInsert .chooseFile  {
    text-align: center;
    justify-content: center;
    margin-left: 5.2em;
}

.comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
    max-width: 1000px;
    width: 100%;
    margin-right:0;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
    max-width: 1000px;
    width: 100%;
    margin-right: 0;
}

.submit{
    display: flex;
    justify-content: space-evenly;
}

.submit .button {
    font-size: 2em;
}

.btn-custom {
    font-size: 1em;
    background-color: #b1997c;
    color: white;
    padding: .5rem;
    text-decoration: none;
}

/* End of submission css */

main #exploreMain{
    flex:1;
    height:100%;
}
body #explorePage{
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    box-sizing:border-box;
    display:flex;
    flex-direction: column;
    height:inherit;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.containerCard{
    display:flex;
    flex-direction: column;
    flex: 0 0 330px;
    background-color: white;
    margin: 1.5rem;
    border-radius:5px;
    box-shadow: 0 1px 3px rgba(255, 151, 151, 0.6), 0 1px 3px rgba(255, 151, 151,0.8);
}
.containerCard img{
    border-radius:5px 5px 0 0;
    width:100%;
}
.containerCard p{
    padding: .5rem 1rem;
    flex-wrap: wrap;
}
#explore h1{
    color:black;
    margin:2rem 8rem;
}



@media (max-width: 598px) {
    html {
        background-color: antiquewhite;
    }

    .front-page-header {
        background-color: pink;
        justify-content: center;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 3vh;
        padding-bottom: 3vh;
        font-size: 2vw;
        margin-top: 3vh;
    }

    #sortDropdown {
        padding: 5px;
        font-size: 1em;
    }

    .filter-button {
        margin-top: 1vh;
        text-align: center;
    }

    .article-display {
        margin-top: 1vh;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid pink;
        padding: 10px;
        text-align: center;
        background-color: white;
    }

    .card img {
        max-width: 100%;
        height: auto;
    }

    .card-row {
        display: block;

    }

    .submission{
        font-size: 1.2em;
        text-align: center;
        margin-left: 1em;
        margin-right: 3em;
    }

    






}



